<h1>Say#goodbye</h1>
<p>Find me in app/views/say/goodbye.html.erb</p>
<p>It was nice. Good Bye</p>
<p> 
	Say <a href="/say/hello" </a> Hello </p>
	<%= link_to "Hello", say_hello_path %>
<%= 1+1 %>
<%= "cow" + "boy" %>
<%= 2.day.from_now.localtime %>
<p> File names are:
<ul>
    <% if @files.respond_to?("each") %>
    <% @files.each do |file| %>
        <li><%= file %></li>
    <% end %>
    <% end %>
</ul>
</p>
